li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

h3{
    margin-top: 30px;
}

.star-box{
    width: 50%;
    margin: 10px auto;
}

.star-box .row{
    text-align: center;
}

hr{
    height: 5px !important;
}
