/* HEADER */

#starting{
    justify-content: flex-end;
    align-items: center;
}

#head-menu{
    align-items: center;
}

#head-menu li{
    font-size: 12px;
    padding-right: 10px ;
}

/* JUMBOTRON */

#jumbo{
    justify-content: center;
    align-items: center;
}

#jumbo div{
    width: 50%;
}

