/* HEADER */
#my_navbar{
    height: 80px;
    background-color: rgb(44, 62, 80);
}

#my_navbar .container-fluid{
    background-color: rgb(44, 62, 80);
    padding-top: 1rem;
}

#my_navbar a{
    color: white;
}

#my_navbar button{
    border-color: rgb(143, 142, 140);
}


#my_navbar span{
    filter: invert();
}

/* JUMBO */

#jumbotron{
    justify-content: center;
    align-items: center;
}

/* MAIN */

.about-container{
    width: 60%;
    margin: 0 auto;
}

.form-container{
    width: 60%;
    margin: 0 auto;
}

/* FORM */
#form{
    justify-content: center;
    align-items: center;
}

input{
    border: none;
}