/* HEADER */
#my_navbar{
    height: 80px;
    background-color: rgb(44, 62, 80);
}

#my_navbar .container-fluid{
    background-color: rgb(44, 62, 80);
    padding-top: 1rem;
}

#my_navbar a{
    color: white;
}

#my_navbar button{
    border-color: rgb(143, 142, 140);
}


#my_navbar span{
    filter: invert();
}

/* JUMBO */

#jumbotron{
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 188, 156);
    color: white;
}

#jumbotron .jumbo_box{
    width: 95%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#jumbo_img{
    height: 250px;
    width: 200px;
}

#jumbo_img img{
    width: 100%;
}

/* MAIN */

/* portfolio section */
#portfolio img{
    width: 100%;
    border-radius: 10px;
}

#portfolio .col-12{
    margin-bottom: 20px;
}

.first-layer{
    position: relative;
}

.imgs-over{
    cursor: pointer;
    position: absolute;
    top: 0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-color: rgb(32, 136, 114, 0.5);
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.imgs-over i{
    font-size: 40px;
    padding: 24%;
    border-radius: 50%;
    background-color: rgb(32, 136, 114, 0.5);
    color: white;
    display: none;
}

.imgs-over:hover{
    opacity: 1;
}

.imgs-over:hover i{
    display: block;
}
/* about section */
#about{
    background-color: rgb(26, 188, 156);
    color: white;
}

.about-container{
    width: 60%;
    margin: 0 auto;
}

#about button{
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(26, 188, 156);
    color: white;
    border: 1px solid white;
    margin: 30px 0;
}

#about button:hover{
    background-color: white;
    color: rgb(60, 75, 92);
}

/* form section */
#form{
    justify-content: center;
    align-items: center;
}

input{
    border: none;
}

input::placeholder{
    color: rgb(45, 62, 80);
    
}

textarea::placeholder{
    color: rgb(45, 62, 80);
}

#form button{
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(26, 188, 156);
    color: white;
    border: none;
    margin-bottom: 20px;
}

#form button:hover{
    background-color: rgb(30, 130, 107);
}

#form ul{
    padding-left: 0;
}

#form li{
    border-bottom: 1px solid rgb(206, 206, 206);
}
.form-container{
    width: 60%;
    margin: 0 auto;
}



/* FOOTER */
#contact-info{
    background-color: rgb(58, 84, 109);
    color: white;
}

#contact-info .fa-brands{
    padding: 10px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

#contact-info h6{
    padding-top: 30px;
}

#contact-info span{
    color: rgb(26, 189, 156);
}

#contact-info span:hover{
    text-decoration: underline;
    cursor: pointer;
}

.contact-boxes{
    width: 70%;
    margin: 0 auto;
}

#bottom_footer{
    background-color: rgb(44, 62, 80);
    color: white;
    padding: 40px 0;
    margin-top: 20px;
    font-size: 12px;
}


