.h100{
    height: 100px;
}

.redbox{
    background-color: rgba(255, 0, 0, 0.1);
    border: 1px solid black;
}

.h300{
    height: 300px;
}

.w600{
    width: 600px;
}

.h500{
    height: 500px;
}

.d-flex{
    display: flex;
}